# Ignore build artifacts.
/Build
tags/
.DS_Store
*.pyc
*.bak
BuildConfig.conf

# Ignore SelfDescribingEnvironment artifacts.
*_extdep/

# Ignore unused UDK PKGs.
/ArmPkg/
/ArmPlatformPkg/
/ArmVirtPkg/
/BaseTools/
/BeagleBoardPkg/
/Conf/
/CorebootModulePkg/
/CorebootPayloadPkg/
/DuetPkg/
/EdkCompatibilityPkg/
/EmulatorPkg/
/IntelFrameworkModulePkg/
/IntelFrameworkPkg/
/IntelFsp2Pkg/
/IntelFsp2WrapperPkg/
/IntelFspPkg/
/IntelFspWrapperPkg/
/IntelSiliconPkg/
/MdeModulePkg/
/MdePkg/
/NetworkPkg/
/Nt32Pkg/
/Omap35xxPkg/
/OvmfPkg/
/PcAtChipsetPkg/
/QuarkPlatformPkg/
/QuarkSocPkg/
/SecurityPkg/
/StdLib/
/StdLibPrivateInternalFiles/
/UefiCpuPkg/
/UnixPkg/
/Vlv2DeviceRefCodePkg/
/Vlv2TbltDevicePkg/
